@import "../../../../../style/mixins";
@import "../../../../../style/reset";

& {
    @include reset;
    display: inline-block;
    height: 10px;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    .progress {
        position: relative;
        height: 10px;
        width: 0;
        margin: 0;
        border-radius: 10px;
        &.normal {
            background-color: $info-color;
        }
        &.active {
            background-color: $info-color;
            transition: all .3s linear 0;
            &:before {
                content: "";
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #fff;
                border-radius: 10px;
                animation: progress-active 2s ease infinite;
            }
        }
        &.error {
            background-color: $error-color;
        }
        &.success {
            background-color: $success-color;
        }
        .label {
            color: white;
            position: absolute;
            right: 0;
            top: -2px;
            font-size: 12px;
        }
    }
}

@keyframes progress-active {
    0% {
        opacity: .3;
        width: 0;
    }
    100% {
        opacity: 0;
        width: 100%;
    }
}